@font-face {
  font-family: "19842";
  font-display: swap;
  src: url("../fonts/19842.woff") format("woff"), url("../fonts/19842.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "19849";
  font-display: swap;
  src: url("../fonts/19849.woff") format("woff"), url("../fonts/19849.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@supports (-webkit-appearance:none){

}
